@import "inc/bootstrap.min.css";
@import "inc/all.min.css";
@import "inc/_variables.scss";

a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.card{
    background-color: $white;
    color: $black;
}

.divider{
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.1);
}

.wp-heading-inline{
    font-size: 32px !important;
}